@media (max-width: 750px) {
  .navTest div {
    height: 5px;
    margin: 5px 0;
    background-color: white;
    border-radius: 20px;
    transition: 1s;
    transform: rotate(0.5turn);
  }
  .navTest {
    display: block;
    float: right;
    margin-right: 1rem;
    width: 30px;
  }

  .menu-website {
    display: none;
  }
  .menu-website.appear {
    display: contents;
  }
}
.roter {
  transform: rotate(90deg);
  transition: 1s;
}

#forside {
  background-color: #1a1a28;
  width: 100%;
}
.forsideMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
img {
  width: 100%;
}
.tekstforside {
  color: white;
  text-align: left;
  margin-left: 5rem;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 30px;
}
@media (max-width: 908px) {
  .tekstforside {
    color: white;
    text-align: left;
    margin-left: 5rem;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 15px;
  }
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  position: relative;
  list-style-type: none;
}
@media (max-width: 750px) {
  nav ul li a {
    font-size: 1rem;

    z-index: 2;
    list-style-type: none;
  }
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 4px;
  background: #024983;
  left: 0;
  bottom: -7px;
  text-decoration: none;
  position: absolute;
  transition: 0.6s;
}
nav ul li a:hover::after {
  width: 100%;
}
ul {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 4rem;
  list-style: none;
}
@media (max-width: 750px) {
  ul {
    border-color: white;
    position: relative;
    display: grid;
    background-color: #1a1a28c8;
    gap: 1rem;
  }
}
@media (max-width: 750px) {
  .responsive-menu {
    border-color: white;
    position: absolute;
    display: grid;

    gap: 1rem;
    margin-left: 83%;
    margin-top: 2rem;
  }
}
.responsive-menu {
  background-color: #1a1a28;
}
