html {
  scroll-behavior: smooth;
}
body {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
#forside {
  background-color: #1a1a28;
}
.forsideMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
img {
  width: 100%;
}
.tekstforside {
  color: white;
  text-align: left;
  margin-left: 5rem;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 30px;
}
@media (max-width: 908px) {
  .tekstforside {
    color: white;
    text-align: left;
    margin-left: 5rem;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 15px;
  }
}
