html {
  scroll-behavior: smooth;
}
body {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 3rem;
}
ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}
#forside {
  width: 100%;
  background-color: #1a1a28;
}
h1 {
  max-width: 20rem;
  margin-left: 2rem;
  margin-top: auto;
}
.forsideMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
img {
  width: 100%;
}
