@font-face {
  font-family: "overskrift";
  src: url(breeserif-regular-webfont.woff);
}
@font-face {
  font-family: "sætninger";
  src: url(sofiasanscondensed-variablefont_wght-webfont.woff2);
}
h1,
h2,
h3,
a {
  font-family: "overskrift";
}
p {
  font-family: "sætninger";
}
h1,
h2,
h3,
a,
p {
  color: white;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}
/*burger*/
@media (max-width: 750px) {
  .navTest div {
    height: 5px;
    margin: 5px 0;
    background-color: white;
    border-radius: 20px;
    transition: 1s;
    transform: rotate(0.5turn);
  }
  .navTest {
    display: block;
    float: right;
    margin-right: 1rem;
    width: 30px;
  }

  .menu-website {
    display: none;
  }
  .menu-website.appear {
    display: contents;
  }
}
.roter {
  transform: rotate(90deg);
  transition: 1s;
}

#forside {
  background-color: #1a1a28;
}
.forsideMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
img {
  width: 100%;
}
.tekstforside {
  color: white;
  text-align: left;
  margin-left: 5rem;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 30px;
}
@media (max-width: 908px) {
  .tekstforside {
    color: white;
    text-align: left;
    margin-left: 5rem;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.9rem;
  }
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  position: relative;
  list-style-type: none;
}
@media (max-width: 750px) {
  nav ul li a {
    font-size: 1rem;

    z-index: 2;
    list-style-type: none;
  }
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 4px;
  background: #024983;
  left: 0;
  bottom: -7px;
  text-decoration: none;
  position: absolute;
  transition: 0.6s;
}
nav ul li a:hover::after {
  width: 100%;
}
ul {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 4rem;
  list-style: none;
}
@media (max-width: 750px) {
  ul {
    border-color: white;
    position: relative;
    display: grid;
    background-color: #1a1a28c8;
    gap: 1rem;
  }
}
@media (max-width: 750px) {
  .responsive-menu {
    border-color: white;
    position: absolute;
    display: grid;

    gap: 1rem;
    margin-left: 83%;
    margin-top: 2rem;
  }
}
.aab {
  background-color: #1a1a28;
  background-size: cover;

  margin-bottom: 2rem;
  text-align: center;
  box-shadow: 0px 0px 20px#67131f;
  font-size: 4rem;

  color: white;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/*Portfolio*/
.temaer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 908px) {
  .temaer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

#Portfolie {
  background-color: #1a1a28;
  padding-bottom: 4rem;
}
.aaa {
  background-color: #1a1a28;
  background-size: cover;

  margin-bottom: 2rem;
  text-align: center;
  box-shadow: 0px 0px 20px#67131f;
  font-size: 5rem;

  color: white;

  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/*bokse*/
.kort {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 10px 10px;
}
.kort :first-child {
  border-radius: 10px 10px;
  position: relative;
  width: 100%;
}
.kort :last-child {
  background-color: #e91e31;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  color: white;
}
.kort :last-child:hover {
  background-color: #a21624;
}
.boks-2::after {
  content: "Grundlæggende web";
  font-size: 2rem;
  text-align: center;
  line-height: 250px;
  width: 0%;
  height: 99%;
  background: #e91e32b2;
  left: 0;
  bottom: 5px;
  text-decoration: none;
  position: absolute;
  transition: 0.8s;
  overflow: hidden;
  border-radius: 10px 10px;
  animation-direction: alternate-reverse;
}
.boks-2:hover::after {
  width: 100%;
}
.boks-3::after {
  content: "Grundlæggende UX";
  font-size: 2rem;
  text-align: center;
  line-height: 250px;
  width: 0%;
  height: 99%;
  background: #e91e32b2;
  left: 0;
  bottom: 5px;
  text-decoration: none;
  position: absolute;
  transition: 0.8s;
  overflow: hidden;
  border-radius: 10px 10px;
  animation-direction: alternate-reverse;
}
.boks-3:hover::after {
  width: 100%;
}
.boks-4::after {
  content: "Grundlæggende animation";
  font-size: 2rem;
  text-align: center;
  line-height: 250px;
  width: 0%;
  height: 99%;
  background: #e91e32b2;
  left: 0;
  bottom: 5px;
  text-decoration: none;
  position: absolute;
  transition: 0.8s;
  overflow: hidden;
  border-radius: 10px 10px;
  animation-direction: alternate-reverse;
}
.boks-4:hover::after {
  width: 100%;
}
.boks-5::after {
  content: "Grundlæggende indhold";

  font-size: 2rem;
  text-align: center;
  line-height: 250px;

  width: 0%;
  height: 99%;
  background: #e91e32b2;
  left: 0;
  bottom: 5px;
  text-decoration: none;
  position: absolute;
  transition: 0.8s;
  overflow: hidden;
  border-radius: 10px 10px;
  animation-direction: alternate-reverse;
}
.boks-5:hover::after {
  width: 100%;
}
.boks-6::after {
  content: "Tema-6";

  font-size: 2rem;
  text-align: center;
  line-height: 250px;

  width: 0%;
  height: 99%;
  background: #e91e32b2;
  left: 0;
  bottom: 5px;
  text-decoration: none;
  position: absolute;
  transition: 0.8s;
  overflow: hidden;
  border-radius: 10px 10px;
  animation-direction: alternate-reverse;
}
.boks-6:hover::after {
  width: 100%;
}

#OmMig {
  background-color: #1a1a28;
}
.cv {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 3rem;
  margin-left: 1rem;
  padding-bottom: 3rem;
}
@media (min-width: 908px) {
  .cv {
    margin-left: 15%;
    margin-right: 15%;
  }
}
.potraetogkontakt {
  background-color: #6532315d;
}
