body {
  background-color: #1a1a28;
}
h1,
h2,
h3,
p {
  color: white;
}
img {
  width: 100%;
}
@media (min-width: 750px) {
  .responsivtema {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
