@media (min-width: 950px) {
  .spillet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
main {
  background-color: #1a1a28;
  height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
}
img {
  width: 100%;
  padding-top: 2rem;
  border-radius: 1rem 1rem 1rem 1rem;
}
p {
  margin-bottom: 2rem;
}
main a {
  background-color: #e91e31;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
}
main a:hover {
  background-color: #67131f;
}
