main a {
  background-color: #e91e31;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: block;
  width: fit-content;
  border-radius: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
}
main a:hover {
  background-color: #67131f;
}
img {
  width: 100%;
  margin-top: 2rem;
  padding-right: 1rem;
}
main {
  background-color: #1a1a28;
  padding-top: 2rem;

  padding-left: 20%;
  padding-right: 20%;
}

p {
  padding-bottom: 2rem;
  margin-left: 1rem;
}
h1 {
  margin-left: 1rem;
}
