body {
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

h1,
h2,
h3,
p {
  color: white;
}
img {
  width: 100%;
}
@media (min-width: 1000px) {
  .responsivtema {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
}

.kode {
  width: 15rem;
}
@media (max-width: 1000px) {
  .kode {
    margin-left: auto;
    margin-right: auto;
  }
}
main {
  background-color: #1a1a28;
  padding-left: 3rem;
  padding-right: 3rem;
}
main a {
  background-color: #e91e31;

  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  display: block;
  max-width: 10rem;
  text-align: center;
  margin-bottom: 1rem;
}
main a:hover {
  background-color: #67131f;
}
.max {
  max-width: 40rem;
}
.linje {
  height: 5px;
  margin: 5px 0;
  background-color: white;
}
